.body {
  @media (width >= 48rem) {
    grid-template-columns:
      [bleed-start] 1fr [content-start] min(100%, 80ch)
      [content-end] 1fr [bleed-end];

    & > * {
      grid-column: content;
    }
  }
}

/* article header .headerImg::before {
  content: '';
  position: absolute;
  left: -100vw;
  right: -100vw;
  bottom: 0;
  height: 50%;
  background-color: #fff;
} */
