.body {
  @media (width >= 48rem) {
    grid-template-columns:
      [bleed-start] 1fr [content-start] min(100%, 80ch)
      [content-end] 1fr [bleed-end];

    & > * {
      grid-column: content;
    }
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    color: #000;
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
  }

  & :is(h1, h2, h3, h4, h5, h6) strong {
    color: inherit;
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
  }
}

/* article header .headerImg::before {
  content: '';
  position: absolute;
  left: -100vw;
  right: -100vw;
  bottom: 0;
  height: 50%;
  background-color: #fff;
} */
